In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline

In [2]:
data = pd.read_csv("data/monsters.csv")

In [3]:
data.head()

,Unnamed: 0,_id,index,name,size,type,subtype,alignment,armor_class,hit_points,...,condition_immunities,senses,languages,challenge_rating,special_abilities,actions,legendary_actions,url,reactions,other_speeds
0,0,5f2329ad0b1bb138c59411ee,aboleth,Aboleth,Large,aberration,NaN,lawful evil,17,135,...,[],"{'darkvision': '120 ft.', 'passive_perception'...","Deep Speech, telepathy 120 ft.",10.00,"[{'name': 'Amphibious', 'desc': 'The aboleth c...","[{'name': 'Multiattack', 'desc': 'The aboleth ...","[{'name': 'Detect', 'desc': 'The aboleth makes...",/api/monsters/aboleth,NaN,NaN
1,1,5f2329ad0b1bb138c59411ef,acolyte,Acolyte,Medium,humanoid,any race,any alignment,10,9,...,[],{'passive_perception': 12},any one language (usually Common),0.25,"[{'name': 'Spellcasting', 'desc': 'The acolyte...","[{'name': 'Club', 'desc': 'Melee Weapon Attack...",NaN,/api/monsters/acolyte,NaN,NaN
2,2,5f2329ad0b1bb138c59411f1,adult-black-dragon,Adult Black Dragon,Huge,dragon,NaN,chaotic evil,19,195,...,[],"{'blindsight': '60 ft.', 'darkvision': '120 ft...","Common, Draconic",14.00,"[{'name': 'Amphibious', 'desc': 'The dragon ca...","[{'name': 'Multiattack', 'desc': 'The dragon c...","[{'name': 'Detect', 'desc': 'The dragon makes ...",/api/monsters/adult-black-dragon,NaN,NaN
3,3,5f2329ad0b1bb138c59411f0,adult-blue-dragon,Adult Blue Dragon,Huge,dragon,NaN,lawful evil,19,225,...,[],"{'blindsight': '60 ft.', 'darkvision': '120 ft...","Common, Draconic",16.00,"[{'name': 'Legendary Resistance', 'desc': 'If ...","[{'name': 'Multiattack', 'desc': 'The dragon c...","[{'name': 'Detect', 'desc': 'The dragon makes ...",/api/monsters/adult-blue-dragon,NaN,NaN
4,4,5f2329ad0b1bb138c59411f2,adult-brass-dragon,Adult Brass Dragon,Huge,dragon,NaN,chaotic good,18,172,...,[],"{'blindsight': '60 ft.', 'darkvision': '120 ft...","Common, Draconic",13.00,"[{'name': 'Legendary Resistance', 'desc': 'If ...","[{'name': 'Multiattack', 'desc': 'The dragon c...",NaN,/api/monsters/adult-brass-dragon,NaN,NaN

In [4]:
data.describe()

,Unnamed: 0,armor_class,hit_points,strength,dexterity,constitution,intelligence,wisdom,charisma,challenge_rating
count,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000
mean,160.500000,14.031056,81.291925,15.161491,12.624224,15.080745,7.754658,11.686335,9.683230,4.543090
std,93.097619,3.256285,99.425430,6.736612,3.202185,4.506105,5.704460,2.934020,5.789584,5.892224
min,0.000000,5.000000,1.000000,1.000000,1.000000,8.000000,1.000000,3.000000,1.000000,0.000000
25%,80.250000,12.000000,18.250000,11.000000,10.000000,12.000000,2.000000,10.000000,5.000000,0.500000
50%,160.500000,13.000000,45.000000,16.000000,13.000000,14.000000,7.000000,12.000000,8.000000,2.000000
75%,240.750000,17.000000,114.000000,19.000000,15.000000,18.000000,12.000000,13.000000,14.000000,6.000000
max,321.000000,25.000000,676.000000,30.000000,28.000000,30.000000,25.000000,25.000000,30.000000,30.000000

In [16]:
train1 = data[['armor_class','hit_points','strength','dexterity','constitution','intelligence','wisdom']]

In [17]:
train1.head()

,armor_class,hit_points,strength,dexterity,constitution,intelligence,wisdom
0,17,135,21,9,15,18,15
1,10,9,10,10,10,10,14
2,19,195,23,14,21,14,13
3,19,225,25,10,23,16,15
4,18,172,23,10,21,14,13

In [18]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
labels = data['challenge_rating']

In [22]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(train1 , labels , test_size = 0.10,random_state =2)

In [23]:
reg.fit(x_train,y_train)
reg.score(x_test,y_test)

0.9465535174461516

In [31]:
y_pred = reg.predict(train1)

In [32]:
print('predicted response:', y_pred, sep='\n')

predicted response:
[ 8.71997387e+00  1.07427410e+00  1.15478423e+01  1.36897756e+01
  1.05011072e+01  1.31344746e+01  1.17930072e+01  1.51542617e+01
  1.29129437e+01  1.48958581e+01  1.43405571e+01  1.10400623e+01
  4.31812344e+00  2.03081207e+01  2.60381531e+01  1.71162779e+01
  2.44576809e+01  2.02969928e+01  2.90191829e+01  2.17920341e+01
  2.87607794e+01  2.62405669e+01  1.78311543e+01  1.24813573e+01
  5.23510451e-01  1.69525070e+00  1.18585403e+00  6.83894811e+00
  5.08473832e+00  9.73397147e-01  3.30937954e+00  5.55507929e-02
  3.76318973e+00  2.61079150e-01  2.26707120e-01  1.55936690e+01
  1.01258212e+00  4.39364309e+00  7.17246071e+00  1.72871831e+00
 -2.12415416e-01  3.08304701e+00  8.88830628e+00  4.12062384e+00
  7.01482269e-01  2.68302828e+00  2.22411519e+00  1.96162077e+00
  5.99932275e-01  4.02348655e+00 -3.69457106e-01  9.10022078e+00
  1.89258590e+00  3.16917725e+00  1.59308882e+00  2.04709959e+00
  5.32005349e+00 -4.35168214e-01  2.29103539e-01  2.69705537e+00
  5.69753722e+00  6.20426388e+00  4.83233301e+00  5.82245386e+00
  4.40410883e+00  1.13165694e+01  1.40842532e+00  1.97487008e-01
 -2.85157360e-01  2.59658826e+00  8.66248989e+00 -6.76322877e-01
  3.36386242e-01  2.08073969e+00  7.51009762e-01  2.26233253e-01
  1.90695104e+00  1.92922839e+00  3.01470712e-01  1.00114906e+01
  1.95491498e+00  1.07201473e+01  3.72370210e+00 -1.36398634e-01
  1.70454619e+01  2.55417248e-01  8.41706281e+00  1.48300882e+00
  2.86490596e+00  2.55153988e+00  2.49190521e+00  1.32036288e+00
  2.89692527e-01  6.86989217e+00  1.26739525e+01  3.31071028e+00
 -4.30057998e-01  9.55368766e+00  2.45146262e+00  3.97509796e+00
  5.20946404e+00  9.98725306e+00  4.18548679e+00  5.62986966e-01
 -2.52522218e-01 -1.03336493e+00  7.55184420e+00  3.30316711e+00
  2.89284320e+00  1.58449190e+00  2.55565957e+00  5.93938839e-01
  7.43602799e+00  6.07116491e-01  4.81872464e-01  1.20591455e+00
 -3.87343736e-01  1.46559777e+00 -9.93538264e-02  3.74744899e+00
  1.97023015e+00  2.80418008e+00 -5.06796220e-01 -4.80010665e-02
  3.33879759e-01  1.81214590e+00  2.99785582e-01  1.66733406e+00
  1.42622119e+00  4.44311133e-01 -9.59013810e-02 -9.59013810e-02
  2.15860184e+00  4.36533807e-01  5.75907592e+00  8.59602541e-01
  9.98313767e-01  1.34743004e+00 -3.06011554e-01  2.54626334e-01
  6.67677574e-01  2.96596990e+00  1.10926441e+01  6.38783336e+00
  1.04695864e+00 -7.28597380e-01  7.36667020e-01  4.74767206e+00
  6.20379552e+00 -9.09069210e-02  3.41751649e+00  5.99358873e+00
  1.38643162e+00  2.77117253e+00  1.01329213e-01  1.59987185e+00
  9.07149042e+00  9.51392042e+00  4.31245829e+00  1.58266796e+00
  4.57161238e-02  2.84708367e+00  7.39068588e+00  5.02195193e+00
  3.47173476e-01  1.70903099e+00  1.11742274e+00  9.66730384e+00
  1.42029986e+00  8.12340800e+00 -3.65073631e-02  1.12010647e+01
  1.24360841e+00  1.96058984e+00  5.98184606e+00  1.05189089e+01
  1.21701263e-01  3.56499498e+00  3.91483546e+00 -2.94218165e-01
  2.53294413e+01  6.31044116e+00 -4.91938157e-01  9.48137551e+00
  8.68139419e-01 -8.13803667e-01  1.81396767e+00  3.35134167e+00
  1.17439258e+00  1.32773084e+00  6.13941620e+00  4.08704817e+00
  1.21761021e+01  7.53147838e-02  7.81278558e+00  1.20789893e+00
  2.46022453e+00  3.03983672e+00  4.82721589e+00  2.67042365e+00
 -2.16081126e-01  2.66344542e+00  7.26294796e+00  1.17526859e+01
  7.58338437e+00  4.26171296e+00  2.07398650e+00  4.78028666e-01
  4.69681188e-02  2.06599413e+00  2.73474083e+00  6.79569604e+00
  1.48629260e+00  6.59434791e+00 -3.77513480e-01  2.96136548e+00
  3.24181258e-01  4.07139786e+00  1.25100472e+00  1.81508609e+01
  1.41979253e+01  3.12729006e+00  9.71386981e-03  2.00807540e+00
 -1.14496619e-01  3.29237627e+00  1.74796655e+00  1.12065299e+01
  5.67830468e-01 -8.72352788e-01  7.89105981e+00 -5.74808625e-01
 -1.94115085e-01  5.21945025e+00  3.52772026e-01  9.51878026e+00
  1.63434935e+00 -2.64255556e-01  1.10137181e+01  6.72521402e+00
 -1.06184488e+00  1.54231408e+00  2.27476778e+00  2.11187914e+00
  4.94741340e+00  2.07561693e+00 -1.06098221e+00  1.94552446e+00
  3.95713550e+00 -6.83459721e-01  1.19731016e+00  6.46663338e+00
  7.58198673e+00 -1.61312847e+00  3.93798629e+00  9.60111803e-01
  1.77104319e+01  1.91705899e+00 -6.46797526e-01  5.51520849e+00
  2.08430048e+00  2.26876752e+00  1.34751682e+00 -1.91768537e-01
  7.48612872e+00  8.86800749e+00  1.31453290e+01  4.98349183e+00
  8.33899418e-01  4.88461819e-02  4.88461819e-02  4.88461819e-02
  1.17761221e+00 -4.25432508e-01 -4.18784672e-02  6.52546434e-01
  4.88461819e-02  4.88461819e-02  3.23995307e+01  1.87549856e+00
  1.50898147e+00  9.06567264e+00  8.26093907e-01  4.13870736e+00
  4.91416794e+00  6.18683361e+00  4.71313242e+00  9.38672134e+00
  4.86849682e+00  3.87596924e+00 -1.52798702e+00  6.23843797e+00
  3.08756510e-01  3.01255871e-01  3.83097947e-01  5.62155424e+00
 -1.57452890e-01  6.86473752e+00  3.92956801e+00  2.08271686e+00
  6.40965430e+00  3.11530244e+00  2.04003299e+00  3.62769218e+00
  3.47869040e+00  3.72634289e+00  5.15005970e-01  1.42494659e+00
  5.37926993e+00  5.31185599e+00  6.10539644e+00  7.50493392e+00
  9.43328986e+00  6.71449154e+00  9.00613521e+00  7.87824517e+00
  1.09263538e+01  8.74188887e+00  1.04257951e+01  9.99864042e+00
  7.20567177e+00  8.70302573e-02]

In [36]:
new_data = pd.DataFrame(np.array([[17,135,21,9,15,18,15]]), columns = ['armor_class','hit_points','strength','dexterity','constitution','intelligence','wisdom'])

In [37]:
new_data.head()

,armor_class,hit_points,strength,dexterity,constitution,intelligence,wisdom
0,17,135,21,9,15,18,15

In [ ]:
new_pred = reg.predict(new_data)